@font-face {
    font-family: "AR DECODE";
    src: url('../fonts/ARDECODE.ttf');
}
body {
    background: url("../images/background9.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-controls{
    position:relative;
    width:300px;
    margin:0 auto;
}

.carousel-indicators{
    top:0;
}

.snippet-text {
    background:rgba(0,0,0,0.7);
    color: #cccccc;
    padding: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.col-pic {
    margin-top: 10%;
}

.navbar-inverse .navbar-brand {
    color: #d29a09;
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #0f0f0f;
    background-color: #d29a09;
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
 color: #d29a09;
    background-color: transparent;
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu,
.navbar-inverse .dropdown-menu {
    background-color: #2a2a2b;
    color:#d29a09;
    font-size: 14pt;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #222222;
}

.navbar {
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.gallery
{
    display: inline-block;
    margin-top: 90px;
    background-color: transparent;
    box-shadow: none;
}

.thumbnail img {
    min-height:200px;
    height:200px;
    border:0;
    box-shadow:0;
    border-radius:0;
}

.lead {
    color: #777
}

#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    background-color: #2a2a2b;
    border-color: #3c3c3c;
    opacity: 0.7;
}

.location-name {
    color: #d29a09;
}

.contact {
    alignment: center;
    margin-top: 50px;
}