@font-face {
    font-family: "AR DECODE";
    src: url('../fonts/ARDECODE.ttf');
}

@font-face {
    font-family: "Copperplate Gothic Regular";
    src: url('../fonts/Copperplate Gothic Regular.otf');
}

@font-face {
    font-family: "Newtext Regular";
    src: url('../fonts/Newtext.ttf');
}

body {
    background: url("../images/background9.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-controls{
    position:relative;
    width:300px;
    margin:0 auto;
}

.carousel-indicators{
    top:0;
}

.snippet-text {
    font-family: "Copperplate Gothic Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:rgba(0,0,0,0.7);
    color: #cccccc;
    padding: 5px;
}

.paragraph-text {
    font-family: "Newtext Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgba(0,0,0,0.7);
    color: #cccccc;
    font-size: large;
    padding: 5px;
}

.col-pic {
    margin-top: 10%;
}

.navbar-inverse .navbar-brand {
    color: #d29a09;
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #0f0f0f;
    background-color: #d29a09;
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
 color: #d29a09;
    background-color: transparent;
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a,
.navbar-inverse .navbar-nav .open .dropdown-menu,
.navbar-inverse .dropdown-menu {
    background-color: #2a2a2b;
    color:#d29a09;
    font-size: 14pt;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #222222;
}

.navbar {
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20pt;
}

.gallery
{
    display: inline-block;
    margin-top: 90px;
    background-color: transparent;
    box-shadow: none;
}

.thumbnail img {
    min-height:200px;
    height:200px;
    border:0;
    box-shadow:0;
    border-radius:0;
}

.lead {
    color: #777
}

#toTop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    background-color: #2a2a2b;
    border-color: #3c3c3c;
    opacity: 0.7;
}

.location-name {
    color: #d29a09;
    font-family: "AR DECODE", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-muted {
    font-family: "Copperplate Gothic Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contact {
    alignment: center;
    margin-top: 50px;
}

.link-heading-gold a {
    color: #d29a09;
    font-size: 65px;
}

.link-heading-gray a {
    color: #777;
}

.dumb {
    color: #d29a09;
    font-size: 65px;
}

.btn-default {
    background: #3c3c3c;
    color: #d29a09;
    border-radius: 0;
    border-color: transparent;
}

.btn-default:hover, .btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background: #d29a09;
    color: #3c3c3c;
    border-radius: 0;
    border-color: transparent;
}

.vendors .list-group {
    margin-top: 90px;
}

.list-group .list-group-item a {
    color: #d29a09;
    background: #2a2a2b;
    border: outset;
}

a.list-group-item:hover .list-group-item-heading:hover,
.list-group:hover .list-group-item:hover a,
.list-group:hover .list-group-item:hover h4 {
    color: #2a2a2b;
    background: #d29a09;
}

.list-group .list-group-item {
    background: transparent;
    border: none;
}

a.list-group-item .list-group-item-heading {
    color: #d29a09;
}

.marginBottom-0 {
    margin-bottom: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border: transparent solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #d29a09;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
